@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("/login.scss");

.card {
    margin-right: 20px;
    margin-left: 20px;
    border: solid;
    border-width: 2px;
    border-color: black;
}